/*USED IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

/* --------------- SUPREME STATS --------------- */
/* Change only if needed !*/

body{
    margin: 0;
}

a{
    font-family: "Inter";
    font-weight: 800;
    text-decoration: none;
    color: #FFFFFF;
}

ul{
    list-style-type: none;
    padding: 0;
}

table {
    font-family: "Inter";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
    text-align: center;
    
    /* border: solid 1px #F1BFD4; */
    border-left: solid 1px #F1BFD4;
    border-right: solid 1px #F1BFD4;
    

    background-color: #FFF3F8;
}

table thead th{
    background-color: #F1BFD4;
    font-weight: 800;
    
}

table tbody tr:nth-child(even) td {
    background-color: #ffe4ef;
}

/*------ MODIFYING THE SCROLLBAR*/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #F1BFD4;
    border-radius: 10px;
}


/* --------------- HEADER --------------- */

.header{
    background-image: url(images/schedules.jpg);
    background-size: cover;
    background-position: center center;
    image-rendering: optimizeQuality;
    backdrop-filter: blur(5px);


    font-family: "Inter";
    font-size: 64px;
    letter-spacing: 13.6px;
    font-weight: 900;
    color: white;

    text-align: center;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;

}

/* --------------- MENU --------------- */

.menu{
    background-color: #C3839E;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(149.7vh - 70px - 200px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    
    line-height: 230px;
    align-items: center;
    font-size: 25px;

}

/*adding a hover effect for the links*/
.menu li a{
    display: block;
    padding: 2px 38px;
    align-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.menu li:hover a{
    background-color: #ffabce;
}

/* --------------- CONTENT --------------- */

.content{
    background-color: #FFFFFF;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(121.2vh - 70px - 200px);

    text-align: center;
    align-items: center;
    justify-content: center;
    


} 

#headerbox{
    background-color: red;
    font-family: "Inter";
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 4px;
    text-align: center;
}

/* --------------- FOOTER --------------- */

.footer{
    background-color: #562135;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;

    font-family: "Inter";
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#contactbox {
    justify-content: center;
    
    /* background-color: blue; */

    display: block;
    width: 450px;
    
    padding: 5px;


}

